<div class="m-l-20 form-div mat-elevation-z8">
    <h3>Reset Password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label for="username">Username: </mat-label>
            <input matInput placeholder="Username" id="username" type="text" formControlName="email">
            <mat-error *ngIf="hasError('email', 'required')">Username is required</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Provide valid email address</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label for="password">Password: </mat-label>
            <input matInput placeholder="Password" id="Password" type="password" formControlName="password">
            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label for="password">Confirm Password: </mat-label>
            <input matInput placeholder="Password" id="Password" type="password" formControlName="confirmpassword">
            <mat-error *ngIf="hasError('confirmpassword', 'required')">Confirm password is required</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>

    </form>
</div>